<section id="banner">
	<!--
		".inner" is set up as an inline-block so it automatically expands
		in both directions to fit whatever's inside it. This means it won't
		automatically wrap lines, so be sure to use line breaks where
		appropriate (<br />).
	-->
	<div class="inner">
		<header>
			<h2>Lochside Durham</h2>
		</header>

		<p>A mixed townhome and single family<br />
		community located in Durham, NC.</p>

		<footer>
			<ul class="buttons vertical">
				<li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
				<li><a href="http://www.trulia.com/for_sale/My%20Custom%20Area__%7D~hzEfxp%60NtSW0%60DhCc%40vAvAxATrApAeAbCKdBcItEqFlHiDz%40oAdAuHHG%7DGtC%40_sp/35.9234082285,35.9376209003,-78.9099595821,-78.8919351375_xy/16_zm/" class="button fit scrolly special" target="_blank">View Listings</a></li>
			</ul>
		</footer>
	</div>
</section>
